* text=auto eol=lf

*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.json linguist-language=JSON
*.md linguist-language=Markdown
*.svg linguist-language=XML

# Binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.ico binary
*.woff2 binary
